@import '../partials/_imports';

main {
	display: flex;
	margin-top: 5rem;

	#main-content-header {
		margin-bottom: 3.5rem;
	}

	#product-container {
		display: flex;
		flex-wrap: wrap;
		background-color: white;
	}
}

@media only screen and (max-width: $xsDevice) {
	#main-content-header {
		display: flex;
		justify-content: space-between;

		button {
			border: 2px solid rgba($primary-color, 0.05);
			background-color: rgba($primary-color, 0.06);
			font-size: 1.2rem;
			width: 95px;
			height: 45px;
		}
	}
}

@media only screen and (min-width: $lDevice) {
}
